@use '../../_breakpoints.scss' as mixins;
@import '../../variables';

.header-sector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: min-content;
  margin: 0 auto 7rem;

  &__content {
    position: relative;
    width: 20vw;
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 1024px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-laptop {
    &__content {
      width: 40vw;
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 600px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-mobile-large {
    &__content {
      width: 70vw;
    }
  }
}
