@use '../../_breakpoints.scss' as mixins;
@import '../../variables';

.variable-sector {
  display: flex;
  width: 100%;

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@ TEXT FIELD BOXES @@@@@@@@@@@@@@@@@@@@@@@@@@@
  &__input {
    width: 45vw;
    display: flex;
    justify-content: space-between;
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@ CHECKBOX @@@@@@@@@@@@@@@@@@@@@@@@@@@
  &__checkbox {
    width: 30vw;
    display: flex;
    padding-top: 0.1rem;
    justify-content: space-evenly;
  }

  &__delete-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 1300px ^ Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-desktop {
    &__input {
      justify-content: space-around;
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 800px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-tablet {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;

    &__input {
      width: 100%;
      justify-content: space-evenly;
    }

    &__checkbox {
      width: 100%;
    }

    &__delete-btn {
      flex-direction: row;
      margin-top: 3.5rem;
    }

    // &__checkbox {
    //   label {
    //     top: -2.7rem;
    //   }
    // }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 600px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-mobile-large {
    width: 70vw;
    margin: 0 auto 5rem;
    flex-direction: column;
    &__input {
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
      }

      margin-bottom: 0;

      // label {
      //   font-size: calc(0.8rem + 1vw);
      // }
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 480px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-mobile {
    &__checkbox {
      justify-content: space-around;
      input:not(:checked)[type='checkbox']::after {
        right: 1.5rem;
      }
    }

    &__delete-btn {
      button::before {
        top: 0.4rem;
      }
    }
  }
}

/* .sector {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #ce9461;
  font-weight: bold;
  position: relative;
}

.sector div {
  padding: 0 !important;
} */

/* .sector input[type='text'] {
  width: 50%;
  margin: auto auto 25px;
  border-radius: 0.938rem;
  border: 1px solid white;
  text-align: center;
  box-shadow: rgb(0 0 0 / 10%) 2px 5px 7px;
}

.sector label {
  font-size: 16px;
  cursor: text;
  pointer-events: none;
  position: absolute;
  transition: all 0.3s ease;
}

.sector input:hover,
.sector input:active {
  outline: 1px solid #ce9461 !important;
}

.sector input:focus {
  outline: 2px solid #ce9461 !important;
}

.sector input:focus ~ label {
  position: absolute;
  transform: translateY(-90%);
}

.sector input:valid ~ label {
  position: absolute;
  transform: translateY(-90%);
} */
