// @@@@@@@@@@@@@@@@@@@@@@@@@@@ DELETE BUTTON @@@@@@@@@@@@@@@@@@@@@@@@@@@
.delete-btn {
  width: 4rem;
  height: 1.1rem;
  background-color: var(--color-button);
  border: none;
  border-radius: 5rem;
  position: relative;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    height: 0.3rem;
    width: 68%;
    background-color: white;
    border-radius: 5rem;
    top: 0.42rem;
    right: 0.6rem;
  }

  &::before {
    top: 0.4rem;
  }
}
