@use '../../_breakpoints.scss' as mixins;
@import '../../variables';

.code-section {
  grid-column: container-start / container-end;

  background-color: var(--color-quaternary-m);
  padding: 3rem 0;
  height: max-content;
  display: flex;
  justify-content: center;
  text-align: center;

  &__code {
    text-align: left;
  }

  span {
    font-size: 1.5rem;
    color: var(--color-primary-m);
    font-weight: 500;
    margin-bottom: 2rem;
  }
}
