@use '../../_breakpoints.scss' as mixins;
@import '../../variables';

.input-section {
  grid-column: container-start / container-end;

  background-color: var(--color-quaternary-m);
  padding: 3rem 0;
  height: max-content;
  display: flex;
  justify-content: center;
  text-align: center;

  h3 {
    color: var(--color-primary);
    font-size: font-size(font-size-medium);
    font-weight: font-weight(font-weight-medium);
    margin-bottom: 4.5rem;
  }

  &__add-btn {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  &__to-code-btn {
    margin-top: 10rem;
    display: flex;
    justify-content: center;

    a {
      background: #e45826;
      border: 0.1rem solid #e45826;
      border-radius: 2.5rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0.1rem 0.2rem 0.4rem;
      color: #ffffff;
      cursor: pointer;
      font-size: font-size(font-size-small);
      line-height: 1.5rem;
      padding: 1.8rem 1.4rem;
      margin-bottom: 20px;
      width: max-content;
      height: 5rem;
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 800px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-tablet {
    &__to-code-btn {
      a {
        font-weight: 500;
        font-size: font-size(font-size-small);
      }
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 800px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-mobile-large {
    a {
      font-size: font-size(font-size-extra-small);
    }
  }
}
