html[data-theme=dark] {
  --color-primary: #969614;
  --color-primary-m: #cbcb73;
  --color-secondary: white;
  --color-secondary-m: rgba(255, 255, 255, 0.5);
  --color-tertiary: #002e4e;
  --color-tertiary-m: #5484a7;
  --color-quaternary: #001a2c;
  --color-quaternary-m: #062841;
  --color-quinary: #00406c;
  --color-quinary-m: #003356;
  --color-card-background: rgba(0, 26, 44, 0.25);
  --color-button: #e45826;
}

html {
  --color-primary: #b96619;
  --color-primary-m: #bfbb99;
  --color-secondary: #643100;
  --color-secondary-m: #914600;
  --color-tertiary: #dea057;
  --color-tertiary-m: #bd7c40;
  --color-quaternary: #fcffe7;
  --color-quaternary-m: #bfc2b0;
  --color-quinary: #e45826;
  --color-quinary-m: #c2a78f;
  --color-card-background: rgba(194, 167, 143, 0.25);
  --color-button: #e45826;
}

html[data-theme=dark] {
  --color-primary: #969614;
  --color-primary-m: #cbcb73;
  --color-secondary: white;
  --color-secondary-m: rgba(255, 255, 255, 0.5);
  --color-tertiary: #002e4e;
  --color-tertiary-m: #5484a7;
  --color-quaternary: #001a2c;
  --color-quaternary-m: #062841;
  --color-quinary: #00406c;
  --color-quinary-m: #003356;
  --color-card-background: rgba(0, 26, 44, 0.25);
  --color-button: #e45826;
}

html {
  --color-primary: #b96619;
  --color-primary-m: #bfbb99;
  --color-secondary: #643100;
  --color-secondary-m: #914600;
  --color-tertiary: #dea057;
  --color-tertiary-m: #bd7c40;
  --color-quaternary: #fcffe7;
  --color-quaternary-m: #bfc2b0;
  --color-quinary: #e45826;
  --color-quinary-m: #c2a78f;
  --color-card-background: rgba(194, 167, 143, 0.25);
  --color-button: #e45826;
}

.text-input {
  position: relative;
}
.text-input input {
  width: 100%;
  margin: 3rem auto;
  font-size: calc(1.2rem + 0.5vw);
  font-weight: 100;
  color: var(--color-secondary);
  border: 0;
  outline: 0;
  border-bottom: 0.1rem solid var(--color-tertiary-m);
  background: transparent;
  transition: border-color 0.2s;
}
.text-input input::placeholder {
  color: transparent;
}
.text-input input:placeholder-shown ~ label {
  cursor: text;
  top: 2rem;
}
.text-input input:required, .text-input input:invalid {
  box-shadow: none;
}
.text-input input:focus {
  font-weight: 100;
  border-width: 0.2rem;
  border-image: linear-gradient(to right, var(--color-button), var(--color-button));
  border-image-slice: 1;
}
.text-input input:focus ~ label {
  color: var(--color-button);
  font-weight: 500;
  opacity: 0.7;
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
}
.text-input label {
  font-size: calc(1rem + 0.5vw);
  color: var(--color-secondary-m);
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
}
@media screen and (max-width: 800px) {
  .text-input input {
    font-size: calc(1rem + 1.2vw);
  }
  .text-input input ~ label {
    top: 0.5rem;
  }
}
@media screen and (max-width: 600px) {
  .text-input label {
    font-size: calc(0.8rem + 1vw);
  }
}
@media screen and (max-width: 480px) {
  .text-input label {
    font-size: calc(0.8rem + 1.4vw);
  }
}/*# sourceMappingURL=TextInput.module.css.map */