html[data-theme=dark] {
  --color-primary: #969614;
  --color-primary-m: #cbcb73;
  --color-secondary: white;
  --color-secondary-m: rgba(255, 255, 255, 0.5);
  --color-tertiary: #002e4e;
  --color-tertiary-m: #5484a7;
  --color-quaternary: #001a2c;
  --color-quaternary-m: #062841;
  --color-quinary: #00406c;
  --color-quinary-m: #003356;
  --color-card-background: rgba(0, 26, 44, 0.25);
  --color-button: #e45826;
}

html {
  --color-primary: #b96619;
  --color-primary-m: #bfbb99;
  --color-secondary: #643100;
  --color-secondary-m: #914600;
  --color-tertiary: #dea057;
  --color-tertiary-m: #bd7c40;
  --color-quaternary: #fcffe7;
  --color-quaternary-m: #bfc2b0;
  --color-quinary: #e45826;
  --color-quinary-m: #c2a78f;
  --color-card-background: rgba(194, 167, 143, 0.25);
  --color-button: #e45826;
}

html[data-theme=dark] {
  --color-primary: #969614;
  --color-primary-m: #cbcb73;
  --color-secondary: white;
  --color-secondary-m: rgba(255, 255, 255, 0.5);
  --color-tertiary: #002e4e;
  --color-tertiary-m: #5484a7;
  --color-quaternary: #001a2c;
  --color-quaternary-m: #062841;
  --color-quinary: #00406c;
  --color-quinary-m: #003356;
  --color-card-background: rgba(0, 26, 44, 0.25);
  --color-button: #e45826;
}

html {
  --color-primary: #b96619;
  --color-primary-m: #bfbb99;
  --color-secondary: #643100;
  --color-secondary-m: #914600;
  --color-tertiary: #dea057;
  --color-tertiary-m: #bd7c40;
  --color-quaternary: #fcffe7;
  --color-quaternary-m: #bfc2b0;
  --color-quinary: #e45826;
  --color-quinary-m: #c2a78f;
  --color-card-background: rgba(194, 167, 143, 0.25);
  --color-button: #e45826;
}

.variable-sector {
  display: flex;
  width: 100%;
}
.variable-sector__input {
  width: 45vw;
  display: flex;
  justify-content: space-between;
}
.variable-sector__checkbox {
  width: 30vw;
  display: flex;
  padding-top: 0.1rem;
  justify-content: space-evenly;
}
.variable-sector__delete-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
@media screen and (min-width: 1300px) {
  .variable-sector__input {
    justify-content: space-around;
  }
}
@media screen and (max-width: 800px) {
  .variable-sector {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }
  .variable-sector__input {
    width: 100%;
    justify-content: space-evenly;
  }
  .variable-sector__checkbox {
    width: 100%;
  }
  .variable-sector__delete-btn {
    flex-direction: row;
    margin-top: 3.5rem;
  }
}
@media screen and (max-width: 600px) {
  .variable-sector {
    width: 70vw;
    margin: 0 auto 5rem;
    flex-direction: column;
  }
  .variable-sector__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .variable-sector__input input {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .variable-sector__checkbox {
    justify-content: space-around;
  }
  .variable-sector__checkbox input:not(:checked)[type=checkbox]::after {
    right: 1.5rem;
  }
  .variable-sector__delete-btn button::before {
    top: 0.4rem;
  }
}

/* .sector {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #ce9461;
  font-weight: bold;
  position: relative;
}

.sector div {
  padding: 0 !important;
} */
/* .sector input[type='text'] {
  width: 50%;
  margin: auto auto 25px;
  border-radius: 0.938rem;
  border: 1px solid white;
  text-align: center;
  box-shadow: rgb(0 0 0 / 10%) 2px 5px 7px;
}

.sector label {
  font-size: 16px;
  cursor: text;
  pointer-events: none;
  position: absolute;
  transition: all 0.3s ease;
}

.sector input:hover,
.sector input:active {
  outline: 1px solid #ce9461 !important;
}

.sector input:focus {
  outline: 2px solid #ce9461 !important;
}

.sector input:focus ~ label {
  position: absolute;
  transform: translateY(-90%);
}

.sector input:valid ~ label {
  position: absolute;
  transform: translateY(-90%);
} *//*# sourceMappingURL=VariableInput.module.css.map */