@use '../../_breakpoints.scss' as mixins;
@import '../../variables';

.contact-section {
  width: 100%;

  h1 {
    font-size: 9rem;
    font-weight: font-weight(font-weight-bold);
    color: var(--color-secondary);
    margin: 4rem auto 2rem;
    text-align: center;
  }

  & > div {
    margin: 3rem auto;
    width: 50%;
  }

  &__content {
    width: 70%;

    textarea {
      width: 130%;
      margin: 7rem auto;
      font-size: font-size(font-size-extra-small);
      font-weight: font-weight(font-weight-thin);
      color: var(--color-secondary);
      border: 0;
      outline: 0;
      border-bottom: 0.1rem solid var(--color-tertiary-m);
      background: transparent;
      transition: border-color 0.2s;

      &:required,
      &:invalid {
        box-shadow: none;
      }
    }

    button {
      background: #e45826;
      border: 0.1rem solid #e45826;
      border-radius: 2.5rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0.1rem 0.2rem 0.4rem;
      color: #ffffff;
      cursor: pointer;
      font-size: font-size(font-size-small);
      line-height: 1.5rem;
      padding: 1.8rem 1.4rem;
      margin-bottom: 20px;
      width: max-content;
      height: 6.5rem;
      width: 130%;
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 800px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-tablet {
    & > div {
      margin: 10rem auto;
      width: 80%;
    }
    h1 {
      font-size: 6rem;
    }

    &__content {
      width: 70%;

      textarea {
        width: 140%;
      }

      button {
        width: 140%;
      }
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 600px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-mobile-large {
    & > div {
      margin: 10rem auto;
      width: 95%;
    }

    h1 {
      font-size: 4.5rem;
    }

    &__content {
      width: 70%;
      textarea {
        width: 140%;
      }

      button {
        width: 140%;
      }
    }
  }
}
